<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method="post" action="/hello">
    <input type="text" name="name"/>
    <select name='language'>
        <option value='french'> French</option>
        <option value='english' selected> English</option>
        <option value='hindi'> Hindi</option>
        <option value='spanish'> Spanish</option>
        <option value='telugu'> Telugu</option>
    </select>
    <input type="submit" value="Greet Me!"/>

</form>

</body>
</html>